{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        },
        "next/babel": {
          "styled-jsx": { "optimizeForSpeed": true }
        }        
      }
    ]
  ]
}
