{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx/babel", { "optimizeForSpeed": true },
            "styled-jsx-plugin-postcss"
          ]
        }      
      }
    ]
  ]
}
