html,
body {
    background-color: #1C1C2D;
    background-image: url('/static/images/pattern-bg.svg');
    background-size: 1200px;

    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    font-size: 18px;

    color: #ffffff;
    overflow-x: hidden;
}

@font-face {
    font-family: 'bitbloxmonospaced';
    src: url('/static/fonts/psy-ops_-_bitblox-monospaced-webfont.woff2') format('woff2'),
         url('/static/fonts/psy-ops_-_bitblox-monospaced-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-bitblox {
    font-family: 'bitbloxmonospaced' , sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.6px;
}

h1, h2, h3, h4 {
    font-family: 'bitbloxmonospaced'
}

h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

input[type=email] {
    border: 1px solid #8f23f5;
    border-radius: 0;
    background: transparent;
    color: #eef9f6;
}

input[type=email]:focus {

    border: 1px solid #8f23f5;
    border-radius: 0;
    background: transparent;
    color: #eef9f6;
    box-shadow: none;
}
/*
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); }*/

.btn-primary {
    background-color: #8f23f5;
    box-shadow: 15px 30px 50px 10px rgba(0, 0, 0, 0.8);

    color: #eef9f6;

    font-family: 'bitbloxmonospaced';
    font-size: 13px;

    border-radius: 0;
    border: 0;
    padding: 15px 30px;
}

.btn-primary:hover {
    background-color: #A03FFC !important;
    cursor: pointer;
}


/* Shadow Overlay */
.image-overlay {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    box-shadow: 40px 80px 80px 20px rgba(0, 0, 0, 0.5);
}

.image-overlay > .overlay-shadow {
    background-image: linear-gradient(to top, #1c1c2d, rgba(28,28,45,0.80) 100%, rgba(108,28,45,0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



/* Tito  */

.tito-wrapper {
    margin-top: 20px;
    margin-bottom: 100px;

    border: 0;

    font-family: Raleway !important;
    font-size: 20px !important;
    line-height: 1.45 !important;
}

.tito-ticket-upcoming-explanation {
    color: #949494 !important;
    font-size: 12px;

    position: absolute;
    left: 0;
    top: 38px;
}

.tito-ticket-upcoming-price {
    font-style: normal !important;
}

.tito-ticket-name {
    font-weight: bold !important;
}

.tito-badge-link {
    display: none !important;
}

.tito-ticket-upcoming-separator {
    display: none !important;
}

.tito-discount-code {
    margin-top: 40px !important;
}

.tito-ticket-vat {
    color: #949494 !important;
}

/* On sale */

.tito-ticket .tito-ticket-name {
    color: #ffffff !important;
}

.tito-ticket-upcoming-price,
.tito-ticket .tito-ticket-price {
    color: #ffffff;
    font-size: 16px;
}

/* Upcoming */

.tito-ticket-status-upcoming  .tito-ticket-description {
    color: #949494 !important;
}

.tito-ticket-status-upcoming  .tito-ticket-name {
    color: #adadad !important;
}

.tito-ticket-status-upcoming  .tito-ticket-price-quantity-wrapper {
    padding-left: 30px;
    padding-right: 12px;
    text-align: right;
}

.tito-ticket.row {
    border-bottom: solid 1px #092ce3 !important;
    position: relative;
}

.tito-ticket-status-sold-out span {
    background-color: #8f23f5;
    color: #eef9f6;
    font-family: 'bitbloxmonospaced';
    font-size: 13px;
    border-radius: 0;
    border: 0;
}

@media screen and (min-width: 520px) {
    .tito-ticket-price-quantity-wrapper {
        width: 35%;
    }

    .tito-ticket-name-wrapper {
        width: 65%;
    }
}

input[type=text].tito-ticket-quantity-field,
input[type=text].tito-ticket-donation-field {
    border: solid 1px #8f23f5 !important;
    background: transparent !important;
    color: #ffffff !important;
    border-radius: 0 !important;

    font-family: 'bitbloxmonospaced' !important;
    font-size: 13px !important;
    width: 34px !important;
    padding: 6px !important;
}


input.form-control.tito-discount-code-field.discount-code-field {
    border: solid 1px #8f23f5 !important;
    background: transparent !important;
    color: #ffffff !important;
    border-radius: 0 !important;

    font-family: 'bitbloxmonospaced' !important;
    font-size: 13px !important;
}
.navbar {
    padding: 0;
}

.tito-submit {
    background-color: #8f23f5 !important;
    color: #eef9f6 !important;

    font-family: 'bitbloxmonospaced' !important;
    font-size: 13px !important;

    border-radius: 0 !important;
    border: 0 !important;
    padding: 6px 20px !important;
}

.tito-submit-wrapper {
    margin-top: 40px;
}


@media (max-width: 1000px) {
    .tito-wrapper {
      margin-top: 0;
    }

    .tito-ticket-status-upcoming .tito-ticket-price-quantity-wrapper {
        padding-left: 0;
    }
}